USE [master]
GO
/****** Object:  Database [Lab]    Script Date: 21.09.2023 18:43:57 ******/
CREATE DATABASE [Lab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab]
GO
/****** Object:  Table [dbo].[Fakulteti]    Script Date: 21.09.2023 18:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fakulteti](
	[Kod_fakulteta] [int] NOT NULL,
	[Name_fakulteta] [varchar](max) NULL,
	[FIO] [varchar](max) NULL,
	[N_komnatu_dekanata] [varchar](max) NULL,
	[Telefon_dekanata] [varchar](max) NULL,
 CONSTRAINT [PK_Fakulteti] PRIMARY KEY CLUSTERED 
(
	[Kod_fakulteta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kafedra]    Script Date: 21.09.2023 18:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kafedra](
	[Kod_kafedru] [int] NOT NULL,
	[Kod_fakulteta] [int] NOT NULL,
	[Name_kafedru] [varchar](max) NULL,
	[FIO] [varchar](max) NULL,
	[N_komnatu_kafedru] [varchar](max) NULL,
	[Telefon_kafedru] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
