USE [master]
GO
/****** Object:  Database [21101-01-StudentStudies]    Script Date: 21.09.2023 19:00:10 ******/
CREATE DATABASE [21101-01-StudentStudies]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'21101-01-StudentStudies', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\21101-01-StudentStudies.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'21101-01-StudentStudies_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\21101-01-StudentStudies_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [21101-01-StudentStudies].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [21101-01-StudentStudies]
GO
/****** Object:  Table [dbo].[Disciplane]    Script Date: 21.09.2023 19:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplane](
	[Kod_disciplinu] [int] NULL,
	[Kod_kafedru] [int] NULL,
	[Name_dis] [varchar](max) NOT NULL,
	[Raschasovka] [int] NOT NULL,
	[Kontrol] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 21.09.2023 19:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Kod_studenta] [int] NOT NULL,
	[Kod_grupu] [int] NOT NULL,
	[FIO] [varchar](max) NULL,
	[God_rogdeniya] [int] NULL,
	[Address] [varchar](max) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Kod_studenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
