USE [master]
GO
/****** Object:  Database [ pr21-101Sm]    Script Date: 21.09.2023 14:53:25 ******/
CREATE DATABASE [ pr21-101Sm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N' pr21-101Sm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ pr21-101Sm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N' pr21-101Sm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ pr21-101Sm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ pr21-101Sm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ pr21-101Sm]
GO
/****** Object:  Table [dbo].[Podchinennaya_tablica_vedomosti]    Script Date: 21.09.2023 14:53:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Podchinennaya_tablica_vedomosti](
	[Kod_pod_vedomopsti] [int] NOT NULL,
	[Kod_ vedomopsti] [int] NOT NULL,
	[Kod_studenta] [int] NOT NULL,
	[Osenka] [int] NULL,
 CONSTRAINT [PK_Podchinennaya_tablica_vedomosti] PRIMARY KEY CLUSTERED 
(
	[Kod_pod_vedomopsti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vedomosti]    Script Date: 21.09.2023 14:53:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vedomosti](
	[Kod_vedomopsti] [int] NOT NULL,
	[Kod_grupu] [int] NOT NULL,
	[Kod_disciplinu] [int] NOT NULL,
	[Kod_prepodavately] [int] NOT NULL,
	[God] [int] NULL,
	[Semestr] [int] NULL,
 CONSTRAINT [PK_Vedomosti] PRIMARY KEY CLUSTERED 
(
	[Kod_vedomopsti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
