USE [master]
GO
/****** Object:  Database [Lab]    Script Date: 21.09.2023 18:47:10 ******/
CREATE DATABASE [Lab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Lab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Lab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab]
GO
/****** Object:  Table [dbo].[Grupu]    Script Date: 21.09.2023 18:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupu](
	[Kod_grupu] [int] NOT NULL,
	[Kod_kafedru] [int] NULL,
	[N_grupu] [varchar](max) NULL,
	[God_post] [int] NULL,
	[Kurs] [int] NULL,
 CONSTRAINT [PK_Grupu] PRIMARY KEY CLUSTERED 
(
	[Kod_grupu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prepodavately]    Script Date: 21.09.2023 18:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prepodavately](
	[Kod_prepodavately] [int] NOT NULL,
	[Kod_kafedru] [int] NOT NULL,
	[FIO] [varchar](max) NULL,
	[Dolgnost] [varchar](max) NULL,
	[Zvanie] [varchar](max) NULL,
	[Stavka] [int] NULL,
	[Stag] [int] NULL,
	[Address] [varchar](max) NULL,
	[Vozrast] [int] NULL,
 CONSTRAINT [PK_Prepodavately] PRIMARY KEY CLUSTERED 
(
	[Kod_prepodavately] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
